// Colors.
$evernote-green-color: #2dbe60;
$pure-white: #ffffff;

// Buttons.
// $button-color: $evernote-green-color;
.btn-primary {
    background-color: $pure-white !important;
    color: $evernote-green-color !important;
}

#input-section {
    background-color: $pure-white !important;
    color: $evernote-green-color !important;
}



// Text.

//
